<div id="disqus_thread"></div>
<script is:inline>
  var d = document,
    s = d.createElement("script");
  s.src = "https://katsudon3128.disqus.com/embed.js";
  s.setAttribute("data-timestamp", (+new Date()).toString());
  (d.head || d.body).appendChild(s);
</script>