<html>
    <head>
        <title>chart</title>
        <script is:inline client:only src="/chart/jquery-3.7.1.min.js"></script>
        <script is:inline client:only src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script is:inline client:only src="/chart/jquery.csv.js"></script>
        <script is:inline client:only src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <div style="padding: 10px;">
            <a href="/chart1/">→總量排行表</a>
        </div>
        <div style="padding: 10px;">
            <button type="button" class="btn btn-outline-primary" onclick="changeStock('8996','高力')">高力</button>
            <button type="button" class="btn btn-outline-primary" onclick="changeStock('4743','合一')">合一</button>
            <button type="button" class="btn btn-outline-primary" onclick="changeStock('4128','中天')">中天</button>
        </div>
        <div class="form-outline d-flex flex-row h4" style="width: 50%;padding: 10px;">
            <label class="form-label" id="stock" value="8996" style="padding:0px 10px;">高力</label>
            <input min="2" max="90" type="text" inputmode="numeric" pattern="[0-9]*" id="days" class="form-control" style="width: 70px;padding:0px 10px;" value="22" />
            <label class="form-label" for="days" style="padding:0px 10px;">天內的借券表</label>
            <button type="button" class="btn btn-primary" style="padding:0px 10px;" onclick="confirm()">確認</button>
        </div>
        <div>
            <canvas id="SblChart"></canvas>
        </div>          
    </body>
</html>
<script is:inline client:only src="/chart/main.js"></script>
